
<!doctype html>
<div style="font-size: 14px !important;background-color: #eee; padding: 40px; font-family: Arial;">
    <div style="width:550px; min-width: 550px;max-width:550px;margin:0 auto;box-sizing:border-box;">
        <div style="width: 100%;border:1px solid #e0e0e0; background-color:white;padding: 20px;color:#444;box-sizing:border-box;">
            <div style="text-align:center">
                <img height="40" style="margin-top: 10px;" src="https://cdn.discordapp.com/attachments/909042920324202496/1159582686566944828/logo.png?ex=65318c88&is=651f1788&hm=227b4c80f491f8072b8b9b5242fcb9a73c30b974df0f69387ddfc6391ef9268d&">
                <h2 style="font-size: 20px;">{{Title}}</h2>
            </div>
            <hr style="border: 1px solid #efefef">
            <p>You Need To Verify Your Email Before Using Our Services.</p>
            <h4>Your Registed Account information</h4>
            <table>
                <tr>
                    <td width="100" style="padding-bottom: 10px">Username</td>
                    <td style="padding-bottom: 10px"><strong>{{username}}</strong></td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px">Email</td>
                    <td style="padding-bottom: 10px"><strong>{{email}}</strong></td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px">More</td>
                    <td style="padding-bottom: 10px"><strong>{{message}}</strong></td>
                </tr>
                <tr>
                    <td>Verify Link</td>
                    <td><a href="{{link}}" target="_blank" style="color:#222"><strong> {{link}} </strong></a></td>
                </tr>
            </table>
            <br>
            <hr style="border: 1px solid #efefef; margin-bottom: 24px;">
            <p>This email will expire after 1 hours.</p>
            <p>Please ignore this email if you did not take any action.</p>
            <br>
            <div style="text-align:center">
                <a href="{{link}}" target="_blank" style="background:#007bff; color: white; border-radius: 3px; padding: 13px 18px;text-decoration:none">VERIFY YOUR ACCOUNT</a>
                <br><br>
            </div>
        </div>
        <div style="text-align:center;background-color:#f7f7f7;border: 1px solid #e0e0e0;box-sizing:border-box;padding:10px;border-top: none!important">
            <a href="http://localhost:8080/Child_Care_Project/" target="_blank" style="color:#222"><strong style="margin: 30px;"> SWP391.com </strong></a>
            <p style="margin: 10px; line-height: 20px;">SWP391 Children Health Care System, Group 2, FPT University</p>
            <a href="http://localhost:8080/Child_Care_Project/" target="_blank" >Contact Us</a>
        </div>
    </div>
</div>